.about {
  padding: 125px 0;

  @media screen and (max-width: 500px) {
    padding: 70px 0;
    background-image: none;
  }

  h1 {
      text-decoration: underline;
      text-decoration-thickness: 0.25em;
      text-underline-offset: 5px;
  }
}

.right_txt {
  text-align: right;
  margin-right: 100px;

  @media screen and (max-width: 1200px) {
    margin-right: 0px;
    text-align: center;
  }
}

.right_para {
  text-align: right;
  margin-right: 100px;
  margin-left: 25%;

  @media screen and (max-width: 1200px) {
    margin-left: 100px;
    text-align: center;
  }

  @media screen and (max-width: 425px) {
    margin: 5px 25px;
  }
}

