.blog {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  .blog_posts {
    margin-top: 74px;
    .blogs {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      margin-left: -40px !important;
    }
    .post {
      padding-bottom: 4%;
      a {
        text-decoration: none;
      }
      .topImg {
        height: 172px;
        width: 340px;
        object-fit: cover;
      }
      .moreBtn {
        font-size: 0.8em;

        padding: 9px;
        &:hover {
          background-color: $pink;
          transition-timing-function: ease-out;
          transition: 0.6s;
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .blogs {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding-left: -40px !important;
    }
  }
}

.left_txt {
  text-align: left;
  margin-left: 100px;

  @media screen and (max-width: 1300px) {
    text-align: center;
    margin-left: 0px;
  }
}