.header {
  padding-top: 125px;
  padding-bottom: 70px;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  @media screen and (max-width: 425px) {
    padding: 50px 0;
  }
}

.profileImg {
	max-height: 250px;
	background-color: $pink;
    border-radius: 100%;
    float: right;
    position: relative;
    z-index: 1;
    top: -60px;
    right: 100px;
  
  @media screen and (max-width: 1300px) {
      max-height: 210px;
      position: static;
      float: none;
      display: block;
      margin: auto;
  }
}

.left_para {
  text-align: left;
  margin-left: 100px;
  margin-right: 40%;

  @media screen and (max-width: 1300px) {
    margin-right: 100px;
    text-align: center;
  }

  @media screen and (max-width: 425px) {
    margin: 0 25px;
  }
}

