.socials {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  h1,
  h3,
  h4 {
    text-align: center;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding: 2% 10%;
}

@media screen and (max-width: 900px) {
  .icons {
    justify-content: space-evenly;
  }
}