.work {
  padding: 35px 0;
  padding-bottom: 70px;
  
  h2 {
    text-align: center;
  }

  @media screen and (max-width: 1200px) {
    h2 {
      margin-right: 0px;
    }
  }
}

.work ul {
    padding-left: 0px;
  }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  container {
    padding: 0 5%;
    
    li {
      margin: 2% 0;
      max-width: 50ch;
    }
  }
}